<a href="https://colab.research.google.com/github/seanjerome/AcademyPublic/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hello

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 47.5MB/s]
100% 11.6M/11.6M [00:00<00:00, 84.2MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 13.6MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
7+3
7-3

4

In [2]:
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [ ]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
7+3

10

In [ ]:
a=10

In [ ]:
a==10

True

In [ ]:
a>=3

True

In [ ]:
a**2==100

True

In [ ]:
cities=['pARIS', 'lONDON', 'rOME']

In [ ]:
cities=['PARIS', 'lONDON', 'rOME']

In [ ]:
cities[2]='Rome'

In [ ]:
cities[0]

'Paris'

In [ ]:
cities

['pARIS', 'lONDON', 'Rome']

In [ ]:
cities[0]

'PARIS'

In [ ]:
val=0



if val > 0:
  print('the value is positive')
elif val <0:
  print('it is negative')
else :
    print('it is zero')

it is zero

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [ ]:
# You can have a look on the first lines:
df.head(10) #You can specify a number in the parenthesis in order to see a specific number of lines
df.tail(5) # It shows the last lines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
# You can have a look on the first lines:
df.head(30)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.9943,3.58,0.52,9.9,5
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.9974,3.26,1.56,9.1,5
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.9986,3.16,0.88,9.2,5
15,8.9,0.620,0.19,3.9,0.170,51.0,148.0,0.9986,3.17,0.93,9.2,5
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.9968,3.11,1.28,9.3,5
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.08,9.2,6
20,8.9,0.220,0.48,1.8,0.077,29.0,60.0,0.9968,3.39,0.53,9.4,6
21,7.6,0.390,0.31,2.3,0.082,23.0,71.0,0.9982,3.52,0.65,9.7,5
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.9966,3.17,0.91,9.5,5
23,8.5,0.490,0.11,2.3,0.084,9.0,67.0,0.9968,3.17,0.53,9.4,5
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.9968,3.43,0.63,9.7,6
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.9955,3.34,0.56,9.3,5
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.9962,3.28,0.59,9.5,5
27,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.9966,3.17,0.91,9.5,5
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.9972,3.47,0.55,9.4,5
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.9964,3.38,0.59,9.8,6

In [ ]:
# List of useful functions to have general overview on the dataframe:
df.dtypes # To see the type of each feature
df.describe() # To have some descriptive statistics
df.info() # Same as dtypes + more information such as the number of non missing values
df.shape # In order to have the number of lines and columns of the dataframe
len(df) # In order to have the number of lines

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

1599

In [ ]:
df.shape

(1599, 12)

In [ ]:
len(df)

1599

In [ ]:
df.describe() # To have some descriptive statistics

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [ ]:
df['fixed acidity'].head(2)

0    7.4
1    7.8
Name: fixed acidity, dtype: float64

In [ ]:
df[['fixed acidity', 'volatile acidity']].head(2)

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88

In [ ]:
df[['fixed acidity', 'volatile acidity','quality']].head(2)

   fixed acidity  volatile acidity  quality
0            7.4              0.70        5
1            7.8              0.88        5

In [ ]:
mask1 = df['fixed acidity'] >7

In [23]:
### Now let's do some data manipulation
# Select a column:
df['fixed acidity'].head(2) # If you select 1 feature: dataframe['name_feature']
# Select multiple columns
df[['fixed acidity', 'volatile acidity']].head(2) 
# If you select 2 or more features: dataframe[['feature1', 'feature2']]

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88

In [24]:
# Now, let's do some filters -> select lines from a condition
mask1 = df['fixed acidity'] >7 # As we saw in the Python basics part, df['fixed acidity'] >7
# refers to a question, does the value (here, each line) is >7 ; True or False
# You can display mask1 to see how it is composed, you will see it is a list of boolean.
df[mask1].min() # Then, we integreate the list of boulean in: dataframe[list_boolean]
# The output is only composed by values >7 that we can check with the .min() function.

# You are not obliged to create a mask, you can directly write the condition within:
df[df['fixed acidity'] >7]

# You can check that indeed the output are exactly the same:
df[mask1] == df[df['fixed acidity'] >7]

# If you want to select a part of the population between 2 values:
mask2 = df['fixed acidity'].between(7,8)
# https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

df[mask2].min()
df[mask2]['fixed acidity'].min()
df[mask2][['fixed acidity', 'density']].min()

# If you want to do several conditions, the '&' means 'and' ; the '|' means 'or'

# Here I want the residual sugars <= 1.9 or >= 2.3 , and sulphates < 0.7301
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

# Keep in mind, you have to associate line of script to a variable/object however it
# is not saved in memory
len(df)
df2 = df[mask3]
len(df2)

1410

In [ ]:
df[mask1].min()

fixed acidity           7.10000
volatile acidity        0.12000
citric acid             0.00000
residual sugar          0.90000
chlorides               0.03800
free sulfur dioxide     1.00000
total sulfur dioxide    6.00000
density                 0.99007
pH                      2.74000
sulphates               0.33000
alcohol                 8.40000
quality                 3.00000
dtype: float64

In [ ]:
df['fixed acidity'].head(20)

0      7.4
1      7.8
2      7.8
3     11.2
4      7.4
5      7.4
6      7.9
7      7.3
8      7.8
9      7.5
10     6.7
11     7.5
12     5.6
13     7.8
14     8.9
15     8.9
16     8.5
17     8.1
18     7.4
19     7.9
Name: fixed acidity, dtype: float64

In [15]:
df[df['fixed acidity'] >7]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Y,fixed_acidity_cat,volatile_acidity_cat,pH2,acidity_other,date
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0,0,0,NaN,3.51,2021-01-06 14:38:36
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0,0,0,3.20,NaN,2021-02-07 08:11:30
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0,0,0,3.26,3.26,2021-06-27 12:25:26
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0,1,1,3.16,NaN,2021-06-16 05:25:38
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0,0,0,3.51,3.51,2021-01-20 10:10:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,8.9,0.12,0.45,1.8,0.075,10.0,21.0,0.99552,3.41,0.76,11.9,7,1,1,1,3.41,3.41,2021-01-16 04:27:02
2044,7.9,0.37,0.23,1.8,0.077,23.0,49.0,0.99630,3.28,0.67,9.3,5,0,0,1,3.28,NaN,2021-06-13 18:14:35
2045,9.0,0.38,0.41,2.4,0.103,6.0,10.0,0.99604,3.13,0.58,11.9,7,1,1,1,3.13,3.13,2021-04-19 14:45:05
2047,11.3,0.34,0.45,2.0,0.082,6.0,15.0,0.99880,2.94,0.66,9.2,6,0,1,1,2.94,NaN,2021-02-26 19:52:34
2048,7.5,0.64,0.00,2.4,0.077,18.0,29.0,0.99650,3.32,0.60,10.0,6,0,0,0,3.32,3.32,2021-03-01 03:22:05

In [ ]:
df[mask1] == df[df['fixed acidity'] >7]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,True,True,True,True,True,True,True,True,True,True,True,True
1580,True,True,True,True,True,True,True,True,True,True,True,True
1585,True,True,True,True,True,True,True,True,True,True,True,True
1586,True,True,True,True,True,True,True,True,True,True,True,True
1588,True,True,True,True,True,True,True,True,True,True,True,True

In [7]:
mask2 = df['fixed acidity'].between(7,8)

In [8]:
df[mask2][['fixed acidity', 'density']].min()

fixed acidity    7.00000
density          0.99007
dtype: float64

In [16]:
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Y,fixed_acidity_cat,volatile_acidity_cat,pH2,acidity_other
count,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.000000,1165.00000,1165.000000,1165.000000,1165.000000,1085.000000,589.000000
mean,8.165923,0.544506,0.244000,2.641288,0.082834,16.019742,48.072961,0.996722,3.324876,0.586026,10.349413,5.52103,0.086695,0.423176,0.213734,3.325134,3.320204
std,1.673520,0.175914,0.188165,1.486163,0.026039,10.344248,34.777963,0.001901,0.146407,0.074415,1.025231,0.73961,0.281509,0.494275,0.410117,0.146830,0.142693
min,4.700000,0.160000,0.000000,0.900000,0.012000,3.000000,6.000000,0.990070,2.880000,0.330000,8.500000,3.00000,0.000000,0.000000,0.000000,2.880000,2.880000
25%,7.000000,0.410000,0.080000,1.800000,0.071000,7.000000,22.000000,0.995600,3.220000,0.540000,9.500000,5.00000,0.000000,0.000000,0.000000,3.220000,3.220000
50%,7.800000,0.540000,0.230000,2.400000,0.080000,14.000000,38.000000,0.996750,3.320000,0.590000,10.100000,5.00000,0.000000,0.000000,0.000000,3.330000,3.330000
75%,9.100000,0.645000,0.390000,2.800000,0.089000,22.000000,65.000000,0.997860,3.410000,0.640000,11.000000,6.00000,0.000000,1.000000,0.000000,3.410000,3.400000
max,15.600000,1.330000,0.780000,15.500000,0.387000,72.000000,289.000000,1.003200,4.010000,0.730000,13.600000,8.00000,1.000000,1.000000,1.000000,4.010000,4.010000

In [18]:
# Now, let's do some filters -> select lines from a condition
mask1 = df['fixed acidity'] >7 # As we saw in the Python basics part, df['fixed acidity'] >7
# refers to a question, does the value (here, each line) is >7 ; True or False
# You can display mask1 to see how it is composed, you will see it is a list of boolean.
df[mask1].min() # Then, we integreate the list of boulean in: dataframe[list_boolean]
# The output is only composed by values >7 that we can check with the .min() function.

# You are not obliged to create a mask, you can directly write the condition within:
df[df['fixed acidity'] >7]

# You can check that indeed the output are exactly the same:
df[mask1] == df[df['fixed acidity'] >7]

# If you want to select a part of the population between 2 values:
mask2 = df['fixed acidity'].between(7,8)
# https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

df[mask2].min()
df[mask2]['fixed acidity'].min()
df[mask2][['fixed acidity', 'density']].min()

# If you want to do several conditions, the '&' means 'and' ; the '|' means 'or'

# Here I want the residual sugars <= 1.9 or >= 2.3 , and sulphates < 0.7301
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

# Keep in mind, you have to associate line of script to a variable/object however it
# is not saved in memory
len(df)
df2 = df[mask3]
len(df2)

1243

In [19]:
# Here I create a function having the name citric_acid_cat with the parameter x
# In the function, x will pass within a conditional statement. Given the value,
# it will return a letter (a category):
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

# Now we want to create a new feature citric_cat, which transform the numerical value
# of citric acid to the category defined above for each line of the feature.
# We could create a for loop. However the apply lambda is more efficient from a computing point of view 
# The x refers to the x of the function which is df['citric acid']
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [20]:
# When you do a mask, it is not only on numerical features but as well on categoricals:
mask5 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'] == 'A'))
df[mask5]
# On this example, I want to focus only on the category A so it is quick to write.
# However it is not always the case and you can filter through a list:

list_cat_to_keep = ['A', 'C']
mask6 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
df[mask6]
# dataframe['feature'].isin(list_specified) creates the list (the pandas Series to be precise) of boolean

# To finish, you could want all the element of a feature execpt those that you specify in a list.
# Let's say, you want to analyse all the citri_cat that are not in the list (here the cat=B)
# You can use: ~dataframe['feature'].isin(list_specified) // The '~' means not isin:
mask7 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (~df['citric_cat'].isin(list_cat_to_keep)))
df[mask7] #As you see, you only have the category 'B' of citric_cat.

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Y,fixed_acidity_cat,volatile_acidity_cat,pH2,acidity_other,date,citric_cat
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.5,5,0,0,0,3.28,3.28,2021-05-22 18:36:16,B
34,5.2,0.320,0.25,1.8,0.103,13.0,50.0,0.99570,3.38,0.55,9.2,5,0,0,1,3.38,3.38,2021-02-21 06:44:29,B
48,6.4,0.400,0.23,1.6,0.066,5.0,12.0,0.99580,3.34,0.56,9.2,5,0,0,0,3.34,3.34,2021-02-16 07:15:08,B
72,7.7,0.690,0.22,1.9,0.084,18.0,94.0,0.99610,3.31,0.48,9.5,5,0,0,0,3.31,3.31,2021-05-02 20:49:47,B
87,7.7,0.490,0.26,1.9,0.062,9.0,31.0,0.99660,3.39,0.64,9.6,5,0,0,0,3.39,NaN,2021-06-12 23:50:51,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107,7.6,0.420,0.25,3.9,0.104,28.0,90.0,0.99784,3.15,0.57,9.1,5,0,0,0,3.15,NaN,2021-04-20 13:33:42,B
2119,8.7,0.540,0.26,2.5,0.097,7.0,31.0,0.99760,3.27,0.60,9.3,6,0,1,0,3.27,3.27,2021-03-28 00:38:13,B
2148,6.9,0.400,0.24,2.5,0.083,30.0,45.0,0.99590,3.26,0.58,10.0,5,0,0,0,3.26,NaN,2021-06-21 20:09:03,B
2179,7.0,0.580,0.28,4.8,0.085,12.0,69.0,0.99633,3.32,0.70,11.0,6,0,0,0,3.32,NaN,2021-03-04 20:55:22,B
2196,9.0,0.785,0.24,1.7,0.078,10.0,21.0,0.99692,3.29,0.67,10.0,5,0,1,0,3.29,3.29,2021-05-05 08:44:58,B

In [26]:
# Now let's complexify the database in order to have additional work to do later! Not important to understand
# Educational purpose

# Here I create a binary feature who will be used as target
# We use the numpy.where function which is equivalent to a if-then-else statement
# If df['quality'] >= 7 then df['Y']=1, else df['Y']=0
df['Y'] = np.where(df['quality']>= 7, 1, 0)

# We create as well some binary features of 'fixed acidity' & 'volatile acidity'
df['fixed_acidity_cat'] = np.where(df['fixed acidity']<= 8, 0, 1)
df['volatile_acidity_cat'] = np.where(df['volatile acidity']>= 0.4, 0, 1)

# Here I create some duplicates rows: I do a random sample of df and then I concat them at the end of df
temp = df.sample(n=150, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

# Here I create a new feature pH2 from pH where I had some missing values
df['pH2'] = np.where(df['pH'].index %15 ==0, np.nan, df['pH'])

# Here I create a new random feature 'acidity_other' from 'fixed acidity' and I create some missing values
rng = np.random.default_rng(893717398)
df = df.join(pd.Series(rng.normal(df['fixed acidity'].median(),1,len(df)), name='acidity_other'))
df['acidity_other'] = np.where(df['acidity_other'].index %2 !=0, np.nan, df['pH'])

#Here it is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)

# Now I apply my function in order to create the new feature 'date'
np.random.seed(893717398)
d_start = pd.to_datetime('2021-01-01')
d_end = pd.to_datetime('2021-06-30')
df['date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))
df['date'] = df['date'].astype(str)

## End of the complexification

ValueError: ignored

In [11]:
df.head

<bound method NDFrame.head of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4              0.70         0.00             1.9      0.076
1               7.8              0.88         0.00             2.6      0.098
2               7.8              0.76         0.04             2.3      0.092
3              11.2              0.28         0.56             1.9      0.075
4               7.4              0.70         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1744            9.8              0.34         0.39             1.4      0.066
1745            7.3              0.67         0.02             2.2      0.072
1746            8.3              0.42         0.38             2.5      0.094
1747           11.9              0.39         0.69             2.8      0.095
1748            8.3              0.26         0.42             2.0      0.080

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1744                  3.0                   7.0  0.99470  3.19       0.55
1745                 31.0                  92.0  0.99566  3.32       0.68
1746                 24.0                  60.0  0.99790  3.31       0.70
1747                 17.0                  35.0  0.99940  3.10       0.61
1748                 11.0                  27.0  0.99740  3.21       0.80

      alcohol  quality  Y  fixed_acidity_cat  volatile_acidity_cat   pH2  \
0         9.4        5  0                  0                     0   NaN
1         9.8        5  0                  0                     0  3.20
2         9.8        5  0                  0                     0  3.26
3         9.8        6  0                  1                     1  3.16
4         9.4        5  0                  0                     0  3.51
...       ...      ... ..                ...                   ...   ...
1744     11.4        7  1                  1                     1  3.19
1745     11.1        6  0                  0                     0  3.32
1746     10.8        6  0                  1                     0  3.31
1747     10.8        6  0                  1                     1  3.10
1748      9.4        6  0                  1                     1  3.21

      acidity_other                 date
0              3.51  2021-01-06 14:38:36
1               NaN  2021-02-07 08:11:30
2              3.26  2021-06-27 12:25:26
3               NaN  2021-06-16 05:25:38
4              3.51  2021-01-20 10:10:16
...             ...                  ...
1744           3.19  2021-02-24 11:37:07
1745            NaN  2021-06-11 16:38:31
1746           3.31  2021-06-03 16:47:05
1747            NaN  2021-03-02 14:50:52
1748           3.21  2021-03-20 06:57:11

[1749 rows x 18 columns]>

In [27]:
np.random.seed(893717398)
randomf1 = pd.Series(np.random.normal(0, 1, len(df)), name='Random_Normal_feature1')
randomf2 = pd.Series(np.random.normal(1, 0.5, len(df)), name='Random_Normal_feature2')

In [28]:
randomf2

0       1.594658
1       0.352472
2       1.041610
3       1.257873
4       1.411087
          ...
2794    1.416267
2795    1.405272
2796    2.543172
2797    0.990928
2798    1.220827
Name: Random_Normal_feature2, Length: 2799, dtype: float64

In [29]:
randomf1

0      -1.631267
1       1.047653
2      -0.226178
3      -0.930432
4      -0.047275
          ...
2794   -0.398764
2795   -0.186327
2796   -0.017214
2797    0.857131
2798    0.213012
Name: Random_Normal_feature1, Length: 2799, dtype: float64